<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xxHash-ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>342B30F31CA3EB2900327F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>342B31091CA3EB2900327F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>342B31141CA3EB2900327F4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
